body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    margin: auto;
    padding: 5%;
}

html {
    width: 150px;
    height: 220px;
}

#btns {
    text-align: center;
}

#rautofill,
#sautofill,
#go-to-options,
#git {
    cursor: pointer;
    margin-top: 10px;
    background-color: #2c5764;
    border: 1px solid turquoise;
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 35px;
}

#author {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}