*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    background: #82b4e4;
    }
.pagename{
  color:rgb(255, 241, 113);
  position:absolute;
  font-size: 100px;
  top:2%;
  left:36%;
}
h2{
  color:#5b89b4; 
  background: #5b89b4;
  border-radius: 10px;
  font-size: 30px;
}
h2:active{
  color:#000000;
  background: white;
}
h3{
  font-size: 35px;
  color:#75a4d1;
  position: relative;
}
h4:hover{
  color: gray;
}
.break{
  height: 5px;
}
p{
  font-size: 30px;
  color:rgba(0, 0, 0, 0.7);
}
.vorm{
position: relative;
display: grid;
top:20%;
}
.vorm .value{
grid-column: span 5;
height: 0px;
text-align: right;
border: none;
outline: none;
padding: 0px;
font-size: 0px;
}
.vorm span{
display: grid;
width: 160px;
height: 96px;
color: #fff;
background: #5b89b4;
place-items: center;
border: 1px solid rgba(0,0,0,.1);
font-size:18px;

}

.vorm span:hover{
background: #75a4d1;
color: #fff;
}
.vorm span:active{
background: #b9d2ff;
color: #fff;
}

.vorm span.quest{
background: #50769b;
font-size: 20px;
}
.vorm span.quest:hover{
background: #5881aa;
}
.nupp{
  border-radius: 5px;
  font-size: 20px;
}
.nupp2{
  border-radius: 5px;
  font-size: 16px;
  color:#f8f8f8;
  width: 70px;
  height: 25px;
  border-color:#75a4d1;
  background-color: #75a4d1;
  border-bottom-color: #75a4d1;
}
.correct {
  position:relative;
  background-color: rgb(128, 182, 128);
  right: -50px;
}
.wrong {
  position:relative;
  background-color: #d17575;
  right: -70px;
}

.teamSelected{
  color: rgb(255, 241, 113);
}

.closed{
  position:relative;
  background-color:#ca5050;
  border-color:#d17575;
  width: 88px;
  right: -480px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal-window {
  position: relative;
  background-color: #FFFFFF;
  width: 50%;
  margin: 10% auto;
  padding: 20px;
  border-radius: 20px;
}

.modal-input{
  border-radius: 5px;
  font-size: 12px;
  height: 120%;
}

.modal-window.small {
  width: 50%;
}

.modal-window.large {
  width: 50%;
}
.modalClosed{}

.close {
  position: absolute;
  top: 5px;
  right: 8px;
  color: rgba(0,0,0,0.3);
  height: 30px;
  width: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #000000;
  cursor: pointer;
}

.open {
  display: block;
}

.points{
  position: absolute;
  right: 5%;
}
.plussminus{
  height: 25px;
  width: 25px;
  border-radius: 15px;
  background-color:#5a9fe0;
  border-color:#b9d2ff;
}

.number2{
  text-align: center;
}

.author-container {
  display: flex;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-style:normal;
  font-family: 'Orbitron', sans-serif;
  justify-content: space-between;
  width: 92%;
  margin: auto;
}

footer{
  padding-top: 22%;
  flex-shrink: 10;
}
